.TopRow{
    background-color: whitesmoke;
    width:100%;
    height:15%;
    text-align: center;
}
#Heading{
    font-family: Arial, Helvetica, sans-serif;
    padding-top:25px;

}
/*#Logo{
    position: fixed;
    top: 3px;
    left: 3px;
    height:75px;
    width:75px;
}*/

.Page{
    display:flex;
}
.sidenav{
    flex:15%;
    height:100%;
    background-color:whitesmoke;
}
table,tr{
    width:100%;
    text-align: center;
}
tr{
    height:80px;

}
.links:hover{
    background-color: lightslategray;
}
tr:nth-child(even){
    background-color:lightgray;
    
}
a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;

}
.ContentArea{
    flex:85%;
}
.InputBox{
    padding-left: 20%;
    padding-top: 20px;

}
#InputBox01,#InputBox02{
    width:70%;
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
    color:black;
    box-shadow: 0px 0px 8px grey;
    border:1px solid lightgray;
    background-color: ivory;
}
#AddBtn{
    padding:12px;
  width: 15%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 3px;
  margin-left: none;
}
#AddNotes{
    display:inline;
    width:90%;
    overflow-wrap: normal;
}

ul{
    list-style-type:none;
}
.Notes01{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
}
#Notes li{
    align-content: center;
    list-style-type: none;
    display: inline;
    border:1px solid black;
    margin-top:10%;
    border-radius: 10px;
    background-color: ivory;
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height:200px;
    width:200px;
    padding-top: 10px;

}
.Button{
    cursor: pointer;
}
#AddToDo{
    display:inline;
    width:90%;
    overflow-wrap: normal;
}
.ToDo01{
    width: 90%;
}
#ToDo li{
    align-content: center;
    list-style-type: none;
    height:40px;
    width:70%;
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:10px;
}
.Todo01 li:nth-child(even){
    background-color:lightgray;
}
.ToDo01 li:nth-child(odd){
    background-color: whitesmoke;
}
.XSymbolToDo{
    position: absolute;
    right: 18%;
    cursor: pointer;
    height:40px;
    width:30px;
}
.XSymbolToDo:hover{
    background-color: red;
    color:white;
}
.XSymbolNote{
    position: fixed;
    margin-left:10px;
    cursor: pointer;
}
.XSymbolNote:hover{
    background-color: red;
    color:white;
}
[contentEditable]:focus{
    outline:0px solid transparent;

}
